section {
  height: 100vh;
  background-color: black;
  color: white;
  height: 100vh;
  overflow-x: hidden;
}
section > div {
  padding: 1rem 2rem;
  width: 100%;
  background-color: rgba(100, 100, 100, 0.247);
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  border-left: 10px solid rgb(172, 172, 172);
  transition: 0.5s all ease;
}
footer {
  display: flex;
  gap: 0.5rem;
  width: 100%;
  justify-content: center;
  padding: 2rem;
  position: fixed;
  z-index: 999;
  bottom: 0;
  left: 0;
}
footer span {
  display: inline-block;
  padding: 0.5rem;
  border: 1px solid #aaa;
  border-radius: 50%;
  transition: all 0.3s;
  cursor: pointer;
}
footer::before {
  content: "You can use keyboard.";
  color: #666;
  text-transform: uppercase;
  position: absolute;
  top: 0;
  // background-color: yellow;
}
.next {
  transform: translateX(100%);
  // opacity: 0;
}
.previous {
  transform: translateX(-100%);
  // opacity: 0;
}
.active {
  background-color: #aaa;
}
