<section>
  <div>
    <div class="container">
      <h1>Hi 👋!</h1>
      Hi! I am Osama Mohammed, full stack web developer:
      <div class="contact-icons">
        <a href="https://github.com/osama-mhmd"
          ><img src="assets/github.png" alt="github"
        /></a>
        <a href="https://x.com/os_mhmd"
          ><img src="assets/twitter.png" alt="twitter"
        /></a>
        <a href="https://x.com/os_mhmd"
          ><img src="assets/linkedin.png" alt=""
        /></a>
        <a href="mailto:mail.osmhmd@gmail.com"
          ><img src="assets/email.png" alt="mail"
        /></a>
      </div>
      <hr />
      <div class="embed embed-red embed-soon">
        <h3>Future-forward programming: top advices for 2024</h3>
        <p>
          With the huge improvement of AI, the *coders* will disappear. So, the
          first advice is to be a programmer not a coder. Learn how this
          works...
        </p>
      </div>
      <div class="embed embed-red embed-soon">
        <h3>How to deal with all these technologies</h3>
        <p>
          Every day, I see new technology appear, and some mindless programmers
          go for it without any reasons, so How to know if you are in need for
          it or not...
        </p>
      </div>
    </div>
  </div>
  <div>
    <div class="container">
      <h1>Technologies</h1>
      <h3>Frameworks</h3>
      <div class="card">
        <img src="assets/angular.png" alt="angular" />
        <div>
          <h3><a href="https://angular.io">Angular</a></h3>
          Experience: Beginner - <span class="chosen">Mid-level</span> - Expert
          <p class="card-muted-foreground">
            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quas
            magnam numquam nihil reprehenderit explicabo minima, rem quibusdam,
            inventore velit non adipisci facere architecto libero fugit quos
            commodi excepturi, eaque repellat.
          </p>
          <p>
            Examples: <
            <a href="https://github.com/osama-mhmd/os-mhmd"
              >osama-mhmd/os-mhmd</a
            >
            >
          </p>
        </div>
      </div>
      <div class="card mt-6">
        <img src="assets/nextjs.png" alt="nextjs" />
        <div>
          <h3><a href="https://nextjs.org">Next.js</a></h3>
          Experience: Beginner - Mid-level - <span class="chosen">Expert</span>
          <p class="card-muted-foreground">
            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quas
            magnam numquam nihil reprehenderit explicabo minima, rem quibusdam,
            inventore velit non adipisci facere architecto libero fugit quos
            commodi excepturi, eaque repellat.
          </p>
          <p>
            Examples: <
            <a href="https://github.com/osama-mhmd/hadith">osama-mhmd/hadith</a>
            >
          </p>
        </div>
      </div>
    </div>
  </div>
  <div>
    <div class="container mt-6">
      <h1>Experiences</h1>
      <div class="card">
        <img src="assets/7ades.png" alt="hadith" />
        <div>
          <h3><a href="https://7ades.vercel.app">Hadith</a></h3>
          <p class="card-muted-foreground">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Culpa
            voluptatibus debitis dignissimos maiores error quibusdam, accusamus
            veniam, quia asperiores, officiis esse consequuntur dolore mollitia
            illum! Temporibus, distinctio? Facilis, debitis fugit!
          </p>
          <p class="line-spacing-2">
            <span class="badge">Next.js</span
            ><span class="badge">Typescript</span
            ><span class="badge">Tailwindcss</span
            ><span class="badge">JS: Fetch</span>
          </p>
        </div>
      </div>
    </div>
  </div>
  <div>
    <div class="container">
      <h1>Bye 😓</h1>
      <p>
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Possimus
        accusantium sunt nemo similique ipsa! Possimus dolorem omnis corrupti,
        totam odit magni corporis ut, odio asperiores mollitia neque, voluptate
        dolore voluptates?
      </p>
      <h3>Who is Osama?</h3>
      <p class="card-muted-foreground">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Numquam, beatae
        architecto! Earum, odit. Necessitatibus, recusandae. Minima, numquam
        animi consectetur blanditiis eum commodi! Eaque praesentium, qui non
        amet aspernatur sint doloribus.
      </p>
      <hr />
      <p class="y-center">2024 - Osama Mohammed</p>
    </div>
  </div>
</section>
